.dkan-c-cms-topnav {
  height: 51px;
}

.dkan-c-cms-topnav > div {
  height: 100%;
}

.dkan-c-cms-topnav .dkan-c-cms-topnav-menu a {
  display: inline-block;
  margin: 3px 7px;
}

.dkan-c-cms-topnav--menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dkan-c-cms-topnav .dkan-c-cms-topnav--tagline {
  height: 100%;
  margin-left: 16px;
}

@media screen and (max-width: 34rem) {
  .dkan-c-cms-topnav {
    display: none;
  }
}

@media screen and (min-width: 64rem) {
  .dkan-c-cms-topnav {
    height: 85px;
  }
}
