$blueberry: #0c2499;
$blueberry-80: #3D50AD;
$blueberry-70: #5465b7;
$blueberry-60: #6d7cc2;
$blueberry-50: #8591cc;
$blueberry-30: #b6bde0;
$blueberry-20: #ced3eb;
$blueberry-10: #e6e9f4;
$blueberry-5: #f3f4fa;
$blueberry-3: #F7F8FC;

$dragonfruit: #c209f2;
$dragonfruit-80: #ce3af5;
$dragonfruit-5: #fcf2fe;
$dragonfruit-2: #fefaff;

$lime: #42e288;

$lemon: #ffe403;

$charcoal: #323a45;
$charcoal-90: #464d57;
$charcoal-80: #5b616a;
$charcoal-70: #6f7570;
$charcoal-60: #84898f;
$charcoal-50: #989ca2;
$charcoal-40: #adb0b5;
$charcoal-30: #c1c3c7;
$charcoal-20: #d6d7d9;
$charcoal-15: #e1e2e3;
$charcoal-10: #eaebec;
$charcoal-5: #f4f5f5;

$strawberry: #F02850;
$strawberry-5: #F9EEF0;

$watermelon: #189A51;

// Mapped
$background-color: #fafafa;
$border-color: $charcoal-30;
$dataset-border: $blueberry;
$text-color: $charcoal;
$link-color: $blueberry;
$bullet-point-color: $charcoal-50;
$input-hover: $charcoal-60;
$focus-lt-bg: $charcoal-60;
$focus-dk-bg: $charcoal-20;
