:root {
  --mobile-nav-animation-time: 1s;
  --cms-top-nav-height: 87px;
  --main-nav-height: 100px;
  --header-bg-color: #{var(--color-primary)};
  --header-bg-image: linear-gradient(90deg, var(--color-primary-darkest) 10%, var(--color-primary) 90%);
  --header-nav-link--color: #{var(--color-white)};
  --header-nav-link--mobile-color: #{var(--color-white)};
  --header-mobile-bg-color: #{var(--color-gray-dark)};
  --header-submenu--bg-color: #{var(--color-primary)};
  --header-submenu--width: 300px;
  --header-nav-search--color: #{var(--color-white)};
  --tag-line--color: #6f757c;
  --tag-line--border-color: #6f757c;
}

.dkan-c-main-navigation > div > div {
  height: #{var(--main-nav-height)};
}

.dkan-c-header .dkan-c-main-navigation {
  background-color: #{var(--header-bg-color)};
  background-image: #{var(--header-bg-image)};
}

.ds-c-usa-banner__button-text {
  &::after {
    width: 0 !important;
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
  }
}

.dc-c-mobile-menu--open {
  color: #{var(--color-white)};
  text-decoration: none;
  &::before {
    font-family: 'Font Awesome 6 Pro';
    content: '\f0c9';
    color: #{var(--color-white)};
    font-size: 18px;
    padding-right: 10px;
    display: inline-block;
    line-height: 18px;
    height: 18px;
    width: 18px;
    margin-left: 10px;
    text-align: center;
    vertical-align: middle;
    font-weight: lighter;
  }
}

.dc-c-mobile-menu--close {
  color: #{var(--color-white)};
  text-decoration: none;
  padding-left: 0;
  padding-bottom: 16px;
  &::before {
    font-family: 'Font Awesome 6 Pro';
    content: '\f00d';
    color: #{var(--color-white)};
    font-size: 18px;
    padding-right: 10px;
    display: inline-block;
    line-height: 18px;
    height: 18px;
    width: 18px;
    text-align: center;
    vertical-align: middle;
    font-weight: lighter;
  }
}

.dc-c-mobile-header--menu {
  position: fixed;
  background-color: #{var(--color-gray-dark)};
  top: 0;
  bottom: 0;
  left: -100%;
  z-index: 500;
  height: 100%;
  width: 100%;
  transition: left 0.7s;
  padding: 50px 0;
  visibility: hidden;
}

.dc-c-cmsheader {
  position: relative;
  background: #{var(--color-white)};
}

.dc-c-cms-mobile-header-menu {
  &::before {
    display: block;
    margin-left: 8px;
    margin-bottom: 16px;
    width: 48px;
    height: 2px;
    background: #{var(--color-primary-light)};
    content: '';
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  a,
  a:hover,
  a:focus,
  a:visited {
    background-color: transparent;
    display: inline-block;
    color: #{var(--color-white)};
    text-decoration: none;
    border-bottom: 2px solid transparent;
  }
  a:hover,
  a:active {
    border-bottom: 2px solid #{var(--color-primary-light)};
  }
}

.dc-c-header--mobile-links {
  button {
    padding: 0;
    font-weight: 700;
  }
  a {
    display: block;
  }
}

.dc-c-mobile-header.menu-open {
  .dc-c-cmsheader {
    z-index: 501;
    background-color: transparent;
  }
  .dc-c-cmsheader-menu a,
  button {
    color: #{var(--color-white)};
  }
  .cms-link-container a::before {
    color: #{var(--color-white)};
  }
  .dc-c-mobile-header--menu {
    left: 0;
    visibility: visible;
  }
}

.cms-text-container {
  display: block;
  padding-top: 28px;
  color: #6f757c;
}

.dc-c-cmsheader-menu {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
  a {
    margin: 3px 7px;
    padding: 0;
    color: #323a45;
    text-decoration: none;
    border-bottom: 1px solid;
    border-bottom-color: #eee;
    border-bottom-color: rgba(255, 255, 255, 0.2);
  }
  a:hover,
  a:active {
    border-bottom: 2px solid #323a45;
  }
}

@media (min-width: 544px) {
  .dc-c-main-navigation--search,
  .dc-c-mobile-menu--search {
    border-left: 1px solid #{var(--color-white)};
  }
}

nav.dc-c-site-menu {
  .dc-c-header--links {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
      height: 100%;
    }
    button {
      // color: #{var(--color-white)};
      text-decoration: none;
      font-size: 16px;
      border: none;
      span {
        border-bottom: 2px solid transparent;
      }
    }
    a {
      text-decoration: none;
      padding: #{var(--space, 8px 24px)};
      span {
        border-bottom: 2px solid transparent;
      }
    }
    > li:hover > button span,
    > li button:focus span,
    > li button:hover span,
    > li:hover > a span,
    > li:focus > a span,
    > li a:hover span,
    > li a:focus span {
      border-bottom: 2px solid #{var(--color-primary-light)};
    }
  }
}

nav.dc-c-site-menu .dc-c-header--links a:focus,
.dc-c-site-title a:focus {
  background-color: transparent;
  outline: 3px solid transparent;
  box-shadow: 0 0 0 3px #{var(--color-focus-light)}, 0 0 4px 6px #{var(--color-focus-dark)};
  outline-offset: 3px;
  border-radius: #{var(--button__border-radius)};
  text-decoration: none;
}

.dc-c-site-title a {
  text-decoration: none;
}

.dc-c-mobile-menu--search {
  display: inherit;
}

.dc-c-search-modal--button {
  &::before {
    font-family: 'Font Awesome 6 Pro';
    content: '\f002';
    color: #{var(--color-white)};
    font-size: 18px;
    padding-right: 10px;
    display: inline-block;
    line-height: 18px;
    height: 18px;
    width: 18px;
    margin-left: 10px;
    text-align: center;
    vertical-align: middle;
    font-weight: lighter;
    box-sizing: content-box
  }
}
