.dc-c-resource-action {
  min-height: 100%;
}

.dc-filtered-resource-toggle {
  align-self: center;
}

.dc-c-filterd-resouce-drawer {
  .ds-c-help-drawer__footer {
    h4 {
      display: none;
    }
  }
}

.dc-c-resource-header--buttons {
  display: flex;
}
