.dc-c-additional-info-table {
  table {
    width: 100%;
  }
}

.dc-c-additional-info-table a {
  word-break: break-all;
}

.ds-u-word-break-anywhere {
  word-break: break-word;
  overflow-wrap: anywhere;
}


@media (max-width: 544px) {
  .dc-c-additional-info-table table th {
    display: none;
  }

  .dc-c-additional-info-table table tbody tr:first-child {
    border-top: 4px solid var(--table__border-color);
  }
}
