.dkan-clear-dataset-filters-button {
  border: 0 !important;
  background-color: transparent !important;
  color: var(--color-primary);
  text-decoration: underline;

  &:hover,
  &:focus {
    background-color: transparent !important;
    color: var(--color-primary) !important;
    text-decoration: none;
  }

  &[aria-disabled="true"] {
    opacity: 1;
    color: #6c6c6c;
    cursor: not-allowed;
    text-decoration: underline;

    &:hover,
    &:focus {
      color: #6c6c6c !important;
    }
  }
}