.dkan-filter-dataset-toolbar {
  box-shadow: 0 0 3px 0 #A6A6A6;

  .dkan-filter-dataset-toolbar-button {
    border: 0;
    line-height: normal;
    text-decoration: none !important;
    color: var(--color-primary);

    &:focus {
      box-shadow: 0 0 0 3px var(--color-focus-light), 0 0 4px 6px var(--color-focus-dark);
      outline: 3px solid #0000;
      outline-offset: 3px;
    }

    > span {
      text-decoration: underline;
    }

    &:hover > span,
    &:focus > span {
      text-decoration: none;
    }
  }
}

.dkan-clear-all-filters-button {
  &:hover,
  &:focus {
    color: var(--color-primary) !important;
  }
}

@media screen and (max-width: 64rem) {
  // make button labels hidden on screens smaller than 1024px
  .dkan-dataset-toolbar-button-label {
    clip: rect(0, 0, 0, 0);
    word-wrap: normal;
    border: 0;
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

}

@media screen and (max-width: 48rem) {
  .dkan-data-table-toolbar-controls {
    justify-content: space-between;
    border-top: 1px solid var(--color-gray-lighter);
  }
}
