.dkan-c-main-navigation--search .dkan-c-header-search--modal-button {
  span {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
  }
}

.dkan-c-header--mobile {
  .dkan-c-nav-menu--mobile {
    display: none;
  }

  .dkan-c-nav-menu--mobile .dkan-c-header-search--modal-button {
    text-decoration: none;
    color: #{var(--header-nav-link--mobile-color)};
    &:hover,
    &:focus {
      color: #{var(--header-nav-link--mobile-color)};
      span {
        border-bottom-color: #{var(--header-nav-link--mobile-color)};
      }
    }
  }
}

.dkan-c-header--desktop {
  .dkan-c-main-navigation--search {
    border-left: 2px solid #{var(--header-nav-search--color)};
  }
  .dkan-c-nav-menu--desktop .dkan-c-main-navigation--search {
    display: none;
  }
  .dkan-c-main-navigation--search .dkan-c-header-search--modal-button {
    color: #{var(--header-nav-search--color)};
    text-decoration: none;
    &:focus,
    &:hover {
      color: #{var(--header-nav-search--color)};
      span {
        border-bottom-color: #{var(--header-nav-search--color)};
      }
    }
    &::before {
      font-family: 'Font Awesome 6 Pro';
      content: '\f002';
      font-size: 18px;
      padding-right: 10px;
      display: inline-block;
      line-height: 18px;
      height: 18px;
      width: 18px;
      margin-left: 10px;
      text-align: center;
      vertical-align: middle;
      font-weight: lighter;
      box-sizing: content-box
    }
  }
}

