/*
This document provides overrides to Swagger UI, fixing accessibility issues.
*/

:root {
  //Colors
  --su-color--blue-dark: rgb(0, 51, 102);
  --su-color--brown: rgba(136, 76, 0, 1);
  --su-color--green-dark: rgb(0, 118, 65);
  --su-color--green-muted: rgb(39, 117, 100);
  --su-color--orange-dark: rgb(209, 0, 0);
  --su-color--orange-light: rgba(209, 0, 0, .1);
  --su-color--red-dark: rgb(151, 0, 0);
  --su-color--red-light: rgba(211, 0, 0, .1);
  --su-color--red: rgb(211, 0, 0);
}
// State  `.swagger-ui` twice to include specificity and avoid multiple `!important` statements;
.swagger-ui.swagger-ui {
  .opblock {
    .opblock-summary-method {
      color: #333;
    }

    &.opblock-delete {
      background-color: var(--su-color--red-light);
      border-color: var(--su-color--red);

      .opblock-summary-method {
        color: white;

        background-color: var(--su-color--red-dark);
      }
    }

    &.opblock-put {
      .opblock-summary-method {
        background-color: var(--su-color--brown);
        color: white;
      }
    }
  }

  .parameter__name {
    &.required {
      span {
        color: var(--su-color--red);
      }

      &:after {
        color: var(--su-color--red);
      }
    }
  }

  .btn {
    &.cancel {
      border-color: var(--su-color--red);
      color: var(--su-color--red);
    }

    &.authorize {
      border-color: var(--su-color--green-muted);
      background-color: var(--su-color--green-muted);
    }

    &.execute {
      background-color: var(--su-color--blue-dark)
    }
  }

  .info {
    .title > span {
      span {
        background-color: #666;
        border-radius: 67px;
        display: inline-block;
        font-size: 14px;
        color: white;
        margin: 0 0 0 5px;
        padding: 2px 8px;
        position: relative;
        top: -5px;
        vertical-align: super;
        &.version-stamp--openapi {
          background-color: #005830;
        }
      }
    }

    a {
      color: #036;
    }
  }

  .model-hint {
    max-width: 100%;
    word-wrap: break-word;
    white-space: normal;
    top: 1.5em;
  }
  section.models .model-container {
    overflow-x: auto;
  }
  table {
    min-width: 500px;

    &.model tbody tr td:first-of-type  {
      min-width: 174px;
    }
  }

  .table-container, .responses-inner {
    overflow: scroll;
  }
}

.swagger-ui h2, .swagger-ui h3, .swagger-ui h4 {
  font-weight: bold !important;
}

.swagger-ui div.wrapper {
  padding-left: 0;
  padding-right: 0;
}

// Fix issue on mobile with text on accordion looking weird.

@media (width <= 34rem) {
  .swagger-ui .opblock-tag-section .opblock-tag small {
    flex: initial;
  }
}
