.dc-c-search-list-item {
  list-style: none;
  li {
    list-style: none;

    a,
    button {
      text-decoration: underline !important;
    }
    a svg,
    span svg {
      fill: #{var(--link__color)};
    }
  }
  svg {
    margin-right: 8px;
  }
  span > span > button {
    font-weight: normal !important;
    padding: 0 !important;
  }
  a:visited svg {
    fill: #{var(--link__color--visited)};
  }
}