.dc-c-search-list-item {
  list-style: none;
  ul {
    gap: 0;
  }
  li {
    list-style: none;

    &:first-child > span {
      padding-left: 0;
    }

    a,
    button {
      text-decoration: underline !important;
    }
    a svg,
    span svg {
      fill: #{var(--link__color)};
    }
  }
  svg {
    margin-right: 8px;
  }
  button, span > a {
    font-weight: normal !important;
  }
  a:visited svg {
    fill: #{var(--link__color--visited)};
  }

  .ds-c-button {
    text-decoration: none !important;
    
    svg,
    &:visited svg {
      fill: #{var(--color-white)};
    }

  }

  .dkan-disabled-link-wrapper {
    cursor: not-allowed;

    .dkan-disabled-link {
      pointer-events: none;
      color: #757575;

      &:active, &:hover, &:focus {
        color: #757575;

        svg {
          fill: #757575;
        }
      }

      svg {
        fill: #757575;
      }
    }
  }
}