.dc-c-search-list-item {
  list-style: none;
  div {
    list-style: none;

    a,
    button {
      text-decoration: underline !important;
    }
    a svg,
    span svg {
      fill: #{var(--link__color)};
    }
  }
  svg {
    margin-right: 8px;
  }
  button, span > a {
    font-weight: normal !important;
  }
  a:visited svg {
    fill: #{var(--link__color--visited)};
  }

  .ds-c-button svg,
  .ds-c-button:visited svg {
    fill: #{var(--color-white)};
  }
}