:root, :before, :after, ::backdrop {
  --button-alt__background-color--active: #d9d9d9;
  --button-alt__background-color--disabled: transparent;
  --button-alt__background-color--hover: #ffe400;
  --button-alt__background-color: transparent;
  --button-alt__border-color--active: currentColor;
  --button-alt__border-color--disabled: currentColor;
  --button-alt__border-color--hover: currentColor;
  --button-alt__border-color: currentColor;
  --button-alt__color--active: #07124d;
  --button-alt__color--disabled: #d9d9d9;
  --button-alt__color--hover: #09196b;
  --button-alt__color: #0d2499;
  --button-dark__background-color--active: transparent;
  --button-dark__background-color--disabled: transparent;
  --button-dark__background-color--hover: transparent;
  --button-dark__background-color: transparent;
  --button-dark__border-color--active: currentColor;
  --button-dark__border-color--disabled: currentColor;
  --button-dark__border-color--hover: currentColor;
  --button-dark__border-color: currentColor;
  --button-dark__color--active: #d9d9d9;
  --button-dark__color--disabled: #5a5a5a;
  --button-dark__color--hover: #f2f2f2;
  --button-dark__color: #ffffff;
  --button-dark-alt__background-color--active: transparent;
  --button-dark-alt__background-color--disabled: transparent;
  --button-dark-alt__background-color--hover: transparent;
  --button-dark-alt__background-color: transparent;
  --button-dark-alt__border-color--active: currentColor;
  --button-dark-alt__border-color--disabled: currentColor;
  --button-dark-alt__border-color--hover: currentColor;
  --button-dark-alt__border-color: currentColor;
  --button-dark-alt__color--active: #7bebac;
  --button-dark-alt__color--disabled: #5a5a5a;
  --button-dark-alt__color--hover: #c6f6db;
  --button-dark-alt__color: #ecfcf3;
  --button-solid__background-color--active: #e7e9f5;
  --button-solid__background-color--disabled: #f2f2f2;
  --button-solid__background-color--hover: #ffe400;
  --button-solid__background-color: #0d2499;
  --button-solid__border-color--active: #0d2499;
  --button-solid__border-color--disabled: #d9d9d9;
  --button-solid__border-color--hover: #0d2499;
  --button-solid__border-color: #0d2499;
  --button-solid__color--active: #0d2499;
  --button-solid__color--disabled: #5a5a5a;
  --button-solid__color--hover: #0d2499;
  --button-solid__color: #ffffff;
  --button-solid-alt__background-color--active: #e7e9f5;
  --button-solid-alt__background-color--disabled: #f2f2f2;
  --button-solid-alt__background-color--hover: #ffe400;
  --button-solid-alt__background-color: #0d2499;
  --button-solid-alt__border-color--active: #0d2499;
  --button-solid-alt__border-color--disabled: #d9d9d9;
  --button-solid-alt__border-color--hover: #0d2499;
  --button-solid-alt__border-color: #0d2499;
  --button-solid-alt__color--active: #0d2499;
  --button-solid-alt__color--disabled: #5a5a5a;
  --button-solid-alt__color--hover: #0d2499;
  --button-solid-alt__color: #ffffff;
  --button-solid-dark__background-color--active: #d9d9d9;
  --button-solid-dark__background-color--disabled: #404040;
  --button-solid-dark__background-color--hover: #f2f2f2;
  --button-solid-dark__background-color: #ffffff;
  --button-solid-dark__border-color--active: #d9d9d9;
  --button-solid-dark__border-color--disabled: #404040;
  --button-solid-dark__border-color--hover: #f2f2f2;
  --button-solid-dark__border-color: #ffffff;
  --button-solid-dark__color--active: #262626;
  --button-solid-dark__color--disabled: #262626;
  --button-solid-dark__color--hover: #262626;
  --button-solid-dark__color: #262626;
  --button-solid-dark-alt__background-color--active: #42e288;
  --button-solid-dark-alt__background-color--disabled: #404040;
  --button-solid-dark-alt__background-color--hover: #7bebac;
  --button-solid-dark-alt__background-color: #c6f6db;
  --button-solid-dark-alt__border-color--active: #42e288;
  --button-solid-dark-alt__border-color--disabled: #404040;
  --button-solid-dark-alt__border-color--hover: #7bebac;
  --button-solid-dark-alt__border-color: #c6f6db;
  --button-solid-dark-alt__color--active: #262626;
  --button-solid-dark-alt__color--disabled: #262626;
  --button-solid-dark-alt__color--hover: #262626;
  --button-solid-dark-alt__color: #262626;
  --backgroundColor: var(--button-alt__background-color);
  --borderColor: var(--button-alt__border-color);
  --color: var(--button-alt__color);
  --backgroundColor--h: var(--button-alt__background-color--hover);
  --borderColor--h: var(--button-alt__border-color--hover);
  --color--h: var(--button-alt__color--hover);
  --backgroundColor--a: var(--button-alt__background-color--active);
  --borderColor--a: var(--button-alt__border-color--active);
  --color--a: var(--button-alt__color--active);
  --backgroundColor--d: var(--button-alt__background-color--disabled);
  --borderColor--d: var(--button-alt__border-color--disabled);
  --color--d: var(--button-alt__color--disabled);
  --backgroundColor: var(--button-dark__background-color);
  --borderColor: var(--button-dark__border-color);
  --color: var(--button-dark__color);
  --backgroundColor--h: var(--button-dark__background-color--hover);
  --borderColor--h: var(--button-dark__border-color--hover);
  --color--h: var(--button-dark__color--hover);
  --backgroundColor--a: var(--button-dark__background-color--active);
  --borderColor--a: var(--button-dark__border-color--active);
  --color--a: var(--button-dark__color--active);
  --backgroundColor--d: var(--button-dark__background-color--disabled);
  --borderColor--d: var(--button-dark__border-color--disabled);
  --color--d: var(--button-dark__color--disabled);
  --backgroundColor: var(--button-solid-dark-alt__background-color);
  --borderColor: var(--button-solid-dark-alt__border-color);
  --color: var(--button-solid-dark-alt__color);
  --backgroundColor--h: var(--button-solid-dark-alt__background-color--hover);
  --borderColor--h: var(--button-solid-dark-alt__border-color--hover);
  --color--h: var(--button-solid-dark-alt__color--hover);
  --backgroundColor--a: var(--button-solid-dark-alt__background-color--active);
  --borderColor--a: var(--button-solid-dark-alt__border-color--active);
  --color--a: var(--button-solid-dark-alt__color--active);
  --backgroundColor--d: var(--button-solid-dark-alt__background-color--disabled);
  --borderColor--d: var(--button-solid-dark-alt__border-color--disabled);
  --color--d: var(--button-solid-dark-alt__color--disabled);

}

.dc-search-input {

  --searchinput--border-radius: 37px;
  --searchinput--component-input-height: 48px;
  --searchinput--component-button-height: 46px;
  position: relative;
  width: 100%;
  .input-group-text {
    width: 52px;
    height: var(--searchinput--component-input-height);
    padding: 0 16px 0 16px;
    font-size: var(--theme-font-size-lg, 16px);
    color: var(--button-solid__background-color);
    border-right: none !important;
  }
  .input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    border-left: none;
    padding-left: 0 !important;
  }
  .input-group>.form-control:focus {
    z-index: inherit;
  }
  .input-group {
  }
  .ds-c-field:hover {
    border: 2px solid var(--color-granite-200, #C0C0C0);
  }
  .input-group-text, .ds-c-field,.ds-c-field:focus {
    border-radius: var(--searchinput--border-radius);
    border: 2px solid var(--color-granite-200, #C0C0C0);
    background: #FFF;
  }
  #searchControls {
    position: absolute;
    display: flex;
    right: 0;
  }
  .ds-c-field {
    display: flex;
    width: auto !important;
    max-width: 100%;
    height: var(--searchinput--component-input-height) !important;
    align-items: center;
    gap: 16px;
    position: inherit;
    margin-top: 0;
    padding-left: 16px;

    border-radius: var(--searchinput--border-radius);
    border-top-right-radius: var(--searchinput--border-radius)!important;
    border-bottom-right-radius: var(--searchinput--border-radius) !important;
    border: 2px solid var(--color-granite-200, #C0C0C0);
    background: #FFF;

    color: var(--color-granite-600, #737373);

    /* Body/Medium */
    font-size: var(--theme-font-size-md, 16px);
    font-style: normal;
    font-weight: var(--theme-font-weight-body-md, 400);
    line-height: 150%; /* 24px */

  }
  #inputReset,#inputReset:focus {
    position: relative;
    right: 10px;
    top: 0;
    color: var(--color-black);
    background-color:  var(--color-white);
    height: auto;
    vertical-align: middle;
    border: none;
    padding: 0;
    border-radius: 0 !important;
    margin: 13px 0 0 0;
    height: 100%;
    color: var(--button-solid__background-color);
  }
  .ds-c-button {
    display: flex;
    padding: var(--spacer-1, 8px) var(--spacer-3, 24px);
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex: 1 0 0;
    align-self: stretch;
    height: var(--searchinput--component-button-height);
    margin: 2px 2px 0 0;

    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1000;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    border-radius: var(--searchinput--border-radius);
    border-top-left-radius: var(--searchinput--border-radius) !important;
    border-bottom-left-radius: var(--searchinput--border-radius) !important;

    /* Misc/Buttons/Medium */
    font-family: var(--theme-font-family-button, "Open Sans");
    font-size: var(--theme-font-size-md, 16px);
    font-style: normal;
    font-weight: var(--theme-font-weight-button-md, 700);
    line-height: 130%; /* 20.8px */
    >svg  {
      width: 12px;
      height: 32px;
      top: 0;
      margin-left: 8px;
    }
  }
  .ds-c-button.mobile {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    > svg {
      width: 19px;
      margin-left: 0px;
    }
  }
  .ds-c-button:focus {
    color: var(--color-black);
    background-color:  var(--color-white);
    margin-top: 1px;
  }
  .ds-c-button:active {
    margin-top: 1px;
  }
}

