@import '~@cmsgov/design-system/dist/scss/settings/variables/color';

.dc-dataset-searchlist-item {
  h2 a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    list-style: none;
  }

  .dc-dataset-searchlist-item--keyword {
    background: $color-primary-alt-lightest;
    border: none;
    color: $color-base;
  }
}
