.dc-c-mobile-header--menu {
  :focus {
    box-shadow: 0 0 0 3px transparent,0 0 4px 6px transparent;
  }
  :focus-visible {
    // Copy styling from DS items with focus
    background-color: #0000;
    border-radius: var(--button__border-radius);
    box-shadow: 0 0 0 3px var(--color-focus-light),0 0 4px 6px var(--color-focus-dark);
    outline: 3px solid #0000;
    outline-offset: 3px;
  }
}
