.dkan-filter-dataset-control {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) 42px;
  gap: 1rem;
  align-items: center;
}

button.dkan-delete-dataset-filter-button {
  width: 32px;
  height: 32px;
  border-radius: 50% !important;
}

@media screen and (max-width: 767px) {
  button.dkan-delete-dataset-filter-button {
    margin-bottom: 4px;
    margin-left: 16px !important;
  }
}