.dkan-filter-dataset-wrapper {
  .fa-filter:before {
    font-size: .75em !important;
  }
}

dialog.dkan-filter-dataset-dialog {
  height: 80vh;
  width: 100%;

  .ds-c-dialog__window {
    min-width: 768px;
    padding: 0;

    .ds-c-dialog__header {
      padding: 24px 24px 10px;
    }

    .ds-c-label {
      width: 0 !important;
      height: 0 !important;
      display: block !important;
      padding: 0 !important;
      margin: 0 !important;
      border: 0 !important;
      overflow: hidden !important;
    }

    .ds-c-dialog__actions {
      margin: 0;
    }
  }
}

.dkan-filter-dataset-controls-header {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) 42px;
  gap: 1rem;
  align-items: center;
}

.dkan-filter-dataset-controls-header-gutter {
  width: 42px;
}

@media screen and (max-width: 1023px) {
  .dkan-filter-dataset-wrapper {
    .fa-filter:before {
      font-size: 1.4em !important;
    }
  }
}

@media screen and (max-width: 767px) {
  dialog.dkan-filter-dataset-dialog  {
    height: 100%;

    .ds-c-dialog__window {
      margin-top: 0;
      width: 100%;
      min-width: auto;
      height: 100%;
      display: flex;
      flex-direction: column;

      .dkan-filter-dataset-controls-header {
        display: none;
      }

      .ds-c-dialog__header {
        width: 100%;
        flex: 0;
        padding: 24px 16px 10px;
      }

      .ds-c-dialog__body {
        width: 100%;
        height: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;
      }

      .ds-c-dialog__body > div[id^="dialog"][id$="__content"] {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        flex: 1;
        overflow: hidden;

        > div {
          display: flex;
          flex-direction: column;
          height: 100%;

          > * {
            flex: 0;
            width: 100%;
          }
  
          .dkan-filter-dataset-form-container {
            flex: 1;
            height: 100%;
            overflow: hidden;

            > div {
              display: flex;
              flex-direction: column;
              height: 100%;
              width: 100%;
              overflow: hidden;

              .dkan-filter-dataset-controls {
                flex: 1;
                height: 100%;
                overflow: auto;

                > fieldset {
                  background-color: #F2F2F2;
                  align-items: flex-end;
                  gap: 0;
                  display: flex;
                  flex-wrap: wrap;
                  max-width: none !important;
                  padding-block: 16px !important;
                  margin-block-start: 16px !important;
                  border: 0 !important;

                  > div:nth-child(1),
                  > div:nth-child(2),
                  > div:nth-child(3) {
                    width: calc(100% - 48px); /* 32px for the delete button + 16px for the gutter */
                    max-width: none !important;
                  }

                  > div:nth-child(1),
                  > div:nth-child(2) {
                    margin-bottom: 16px;
                  }

                  .ds-c-label {
                    width: auto !important;
                    height: auto !important;
                    overflow: visible !important;
                    max-width: none !important;
                  }

                  .ds-c-field {
                    max-width: none !important;
                  }
                }
              }

              > div {
                flex: 0;
                width: 100%;
              }
            }
          }
        }
      }
  
      .ds-c-dialog__actions {
        width: 100%;
        flex: 0;
        border-top: solid 1px #d9d9d9;
      }
    }
  }
}
