.dc-resource-header {
  &::before {
    content: '';
    display: block;
    width: 48px;
    height: 4px;
    margin: 8px 0;
    background-color: $color-primary-alt-light;
  }
}

.dc-truncate {
  max-width: 85%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dc-c-table-header-group > div {
  position: relative;
}

.dc-c-resize-handle {
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-color: $color-gray-light;
  width: 10px;
  min-width: 10px;
  display: block;
  margin-left: -10px;
  border-bottom: 2px solid #323a45;
  border-top: 2px solid #323a45;
  z-index: 1;
  &.isResizing,
  &:hover {
    background-color: $color-primary;
  }
}

.dc-c-metadata-description {
  white-space: pre-line;
}
