@import "~@cmsgov/design-system/dist/scss/settings/variables/color";

.dc-c-footer {
  background-color: white;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.dc-c-footer--middle-container {
  background: linear-gradient(90deg, #f6f9fd 50%, #e8f0fa 50%);
}

.dc-c-footer__title {
  font-weight: 400;
  color: $color-gray;
  span {
    font-weight: 700;
  }
}

.dc-c-footer__resources {
  background: #f6f9fd;
}

.dc-c-footer__utility {
  background: $color-white;
}

.dc-c-footer__utility li {
  list-style: none;
}

.dc-c-footer__cms-information {
  background: #e8f0fa;
}

.dc-footer--heading {
  text-transform: uppercase;
}

.dc-c-emailupdates {
  background-image: linear-gradient(35deg,$color-primary-darkest, $color-primary-darker, $color-primary);
  color: $color-white;
}
.dc-c-footer--svg-icon {
  width: 40px;
  height: 40px;
  font-size: 42px;
  display: inline-block;
  text-align: center;
  position: relative;

  svg.svg-inline--fa {
    width: 1em;
    height: 1em;
  }

  .fa-circle {
    fill: #6F757C;
  }

  .fa-inverse {
    font-size: 25px;
    padding-left: 2px;
    fill:$color-white;
  }

}
.svg-inline--fa {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}
