.dc-query-builder .ds-c-accordion__content {
  padding-bottom: 0 !important;
  max-height: 24rem;
}
.dc-query-builder form {
  position: relative;
}

.dc-query-bulder--form-buttons {
  position: sticky;
  position: -webkit-sticky;
  width: 100%;
  bottom: 0;
  background-color: white;
}

.dc-query-builder .ds-c-accordion__heading > .ds-c-accordion__button {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 16px 24px 16px 24px;
}
