.dc-dataset-search-list {
  list-style: none;
}

.dc-search-header {
  display: relative;
  &::after {
    content: '';
    display: block;
    width: 48px;
    height: 4px;
    margin: 16px 0;
    background-color: #{var(--color-primary-light)};
  }
}

.dataset-results-count {
  font-weight: bold;
}

.dkan-dataset-search--facet-container .ds-c-accordion__content {
  max-height: 32rem;
}

.dc-dataset-search--clear-all-filters {
  width: 100%;
}

.dkan-dataset-search {
  position: relative;
  input {
    min-width: 100%;
    @media only screen and (min-width: 34rem) {
      padding-left: 32px;
    }
  }
  .ds-c-field__before {
    left: 16px;
    top: 12px;
  }
}
