@use "../../../scss/modules/modules";
@use "../../../scss/modules/colormap";
@use "../../../scss/modules/functions";
@use "../../../scss/modules/variables";

$footer-height: 72px;

.ds-c-dialog-wrap {
  height: 100%;

  // CMS.gov Override
  .ds-base {
    font: variables.$base-font;
  }

  .resource-table-header {
    z-index: 2;
  }

  .ds-c-dialog.fullscreen-resource {
    width: 100%;
    height: 100%;
    max-width: 100%;
    padding: 0;
    background-color: colormap.$background-color;
    color: colormap.$charcoal;
    margin: 0;
    max-height: none;

    .dataset-explorer-title {
      @include functions.h(3);
    }

    .ds-c-dialog__window {
      height: calc(100% - 64px);

      .ds-c-dialog__header {
        position: relative;
      }

      .ds-c-dialog__body {
        height: 100%;
        padding: 0 32px;

        div[id^="dialog"][id$="__content"] {
          height: 100%;

          .fullscreen-content {
            display: flex;
            flex-direction: column;
            height: 100%;
            background: colormap.$background-color;
            position: relative;

            .toggle-block {
              h2.toggle-block-title {
                margin: 0;
                display: flex;
              }

              button {
                display: flex;
                align-items: center;
                flex: 1;
                background-color: transparent;
                border: 0;
                font-size: 1.8rem;
                font-weight: 700;
                margin-left: -16px;
                margin-right: -16px;
                padding: 24px;
                text-align: left;
                color: colormap.$charcoal;
                letter-spacing: 0.2px;

                &:hover {
                  text-decoration: underline;
                }

                &:focus {
                  @include functions.focus($offset: -16px);
                }

                // Necessary Class Override
                svg.svg-inline--fa.fa-w-14.fa-1x,
                svg.svg-inline--fa.fa-w-10.fa-1x {
                  margin-right: 12px;
                  font-size: initial;
                  width: 1.6rem;
                  height: 1.6rem;
                  flex: 0 0 auto;
                }
              }

              .toggle-block-inner {
                margin-top: -12px;
                padding: 0 0 24px;

                .dataset-header {
                  padding-left: 36px;
                  color: colormap.$charcoal;

                  h1.dataset-title {
                    @include functions.h(2);
                  }

                  .dataset-description {
                    margin-bottom: 12px;
                  }
                }
              }
            }

            .DataTable {
              margin-bottom: $footer-height;
              overflow: hidden;

              .dc-table-container {
                height: 100%;
              }
            }
          }
        }
      }
    }

    .ds-c-dialog__header {
      display: flex;
      align-items: center;
      position: fixed;
      top: 0;
      padding: 0 32px;
      background-color: white;
      border-bottom: 1px solid colormap.$border-color;
      height: 64px;
      width: 100%;
      z-index: 2;

      h2 {
        font: 700 2.4rem/1.5 variables.$geometria;
        letter-spacing: 0.25px;
        color: colormap.$charcoal;
        margin-bottom: 0;
      }

      button.ds-c-dialog__close {
        background-color: transparent;
        padding: 8px;
        height: 48px;
        width: 48px;
        border-radius: 100%;
        margin-right: -12px;
        color: colormap.$charcoal;

        &:hover {
          background-color: colormap.$charcoal-5;
        }
      }
    }

    .pagination-bottom {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      height: $footer-height;

      .-pagination {
        padding: 16px 32px;
      }
    }
  }

  .ds-c-dialog.manage-col-dialog, .ds-c-dialog.filter-dialog {
    .ds-c-dialog__window {
      .ds-c-dialog__header {
        position: relative;
      }

      .ds-c-dialog__body {
        padding: 0;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .ds-c-dialog-wrap {
    .ds-c-dialog.fullscreen-resource {
      .ds-c-dialog__window {
        .ds-c-dialog__body {
          div[id^="dialog"][id$="__content"] {
            .fullscreen-content {
              .DataTable {
                height: calc(100% - $footer-height);
              }
            }
          }
        }
      }
    }
  }
}
