.dkan-dataset-search {
  position: relative;
  input {
    min-width: 100%;
    @media only screen and (min-width: 544px) {
      padding-left: 32px;
    }
  }
  .ds-c-field__before {
    left: 16px;
    top: 12px;
  }
}

.dkan-dataset-search--facet-container {
  ul {
    list-style: none;
    padding-left: 0px;
  }
}

.dkan-dataset-search--clear-all-filters {
  width: 100%;
}

.dc-c-search-list-item li a svg,
.dc-c-search-list-item li span svg {
  fill: #{var(--link__color)};
}

.dc-c-search-list-item li a:visited svg {
  fill: #{var(--link__color--visited)};
}
