.dkan-dataset-search {
  position: relative;
  input {
    min-width: 100%;
    @media only screen and (min-width: 544px) {
      padding-left: 32px;
    }
  }
  div.--alt-style input {
    @media only screen and (max-width: 544px) {
      --text-input__border-radius: 50px;
      --text-input__border-color: #c6b7b7;
      height: 61px;
    }
  }

  .ds-c-field__before {
    left: 16px;
    top: 12px;
  }
  .dc-c-search-button-mobile {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: absolute;
    right: 18px;
    top: 2px;
    z-index: 1000;
    height: 57px;
  }
}

.dkan-dataset-search--facet-container {
  ul {
    list-style: none;
    padding-left: 0px;
  }
}

.dkan-dataset-search--clear-all-filters {
  width: 100%;
}

.dc-c-search-list-item li a svg,
.dc-c-search-list-item li span svg {
  fill: #{var(--link__color)};
}

.dc-c-search-list-item li a:visited svg {
  fill: #{var(--link__color--visited)};
}
