.dc-resource-header {
  &::before {
    content: '';
    display: block;
    width: 48px;
    height: 4px;
    margin: 8px 0;
    background-color: #{var(--color-primary-light)};
  }
}

.dc-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dc-c-metadata-description {
  white-space: pre-line;
}

.dc-dataset .ds-c-tabs {
  .ds-c-tabs__item {
    text-decoration:none;
    svg {
      fill: #{var(--link__color)};
    }
  }
  svg {
    margin-right: 8px;
  }
}

#main-content {
  overflow: visible;
}

.dc-c-word-break--all {
  word-break: break-all;
}