.data-dictionary-iframe-container {
  width: 100%;
  position: relative;
  padding-top: 120%;
  > .data-dictionary-iframe {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
}