.dataset-date {
  .dataset-date-item {
    white-space: nowrap;
    & > span {
      line-height: 1.8rem;
    }

    .ds-c-tooltip__container {
      position: relative;
      bottom: 10px;
      width: 20px;
      display: inline-block;
    }
  }
  & > .bullet-point {
    font-size: 1.2rem;
  }
}