@use "../../../scss/modules/modules";
@use "../../../scss/modules/colormap";

.chip-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 12px;

  button {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 32px;
    background-color: #fff;
    // color: colormap.$charcoal;
    // border: solid 1px colormap.$charcoal-10;
    border-radius: 20px;
    padding: 8px;
    font-family: Muli;
    font-weight: 300;
    font-size: 12px;
    margin: 8px 8px 8px 0;

    &:focus {
      outline: 2px dotted #84898f;
      outline-offset: 2px;
    }

    &.chip-body {
      &:hover {
        text-decoration: underline;
      }
    }

    &.clear-all {
      color: #0c2499;
      padding: 0 8px;
      border: 0;
      background-color: transparent;

      &:hover {
        text-decoration: underline;
      }
    }

    svg {
      margin: 0px 8px 0px 8px;
    }
  }
}
