@use "../../../scss/modules/modules";
@use "../../../scss/modules/colormap";
@use "../../../scss/modules/functions";
@use "../../../scss/modules/variables";

.tooltip-wrapper {
  position: relative;
  display: inline-flex;
  justify-content: center;
}

.tooltip-trigger {

  // Tooltip with icon trigger inline with text
  &.tooltip-info {
    display: inline-block;
    vertical-align: middle;
    padding: 4px;
    margin: 0 4px 2px;
    line-height: 0;
    border-radius: 100%;
    transition: opacity 0.1s linear;

    &:hover {
      transition: opacity 0.1s linear;
      background-color: colormap.$blueberry-10;
    }

    svg.fa-info-circle {
      font-size: initial;

      path {
        fill: colormap.$blueberry;
      }
    }
  }

  // Tooltip for term definitions in static content
  &.definition {
    @include functions.link-underline(colormap.$charcoal);

    &:hover {
      cursor: help;
    }
  }
}

span.tooltip-container {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  border: none;
  box-shadow: none;
  color: white;
  padding: 3px 8px 4px;
  transition: opacity 0.1s linear;
  display: inline-block;
  inset: auto auto 100% auto !important;
  transform: none !important;

  &.definition {
    background: white;
    color: colormap.$charcoal;
    padding: 16px 24px;
    border: 1px solid colormap.$charcoal-20;
    box-shadow: variables.$panel-shadow;
    max-width: 384px;

    .tooltip-arrow {
      display: block;
    }
  }

  .tooltip-arrow {
    display: none;
  }

  &.invisible {
    display: none;
  }

  &.resize-tooltip {
    opacity: 1;
    left: 0;
    // Transition In
    transition-property: opacity, left;
    transition-timing-function: linear;
    transition-duration: 0.1s;

    &.hide-resize-tooltip {
      opacity: 0;
      left: -9999px !important;
      // Transition Out
      transition-property: opacity, left;
      transition-timing-function: linear;
      transition-duration: 0s;
    }
  }
}

@media screen and (max-width: 991px) {
  span.tooltip-container {
    &.definition {
      max-width: 256px;
      font-size: 1.4rem;
      line-height: 1.4;
    }
  }
}
