.dkan-fullscreen-data-table-wrapper {
  .fa-compress:before,
  .fa-expand:before {
    font-size: .75em !important;
  }
}

/*
  Styling for dynamic full height dialog with the data table filling as
  much vertical space as possible while staying within the full height dialog
*/
dialog.dkan-full-screen-dataset-dialog {
  height: 100vh;

  > .ds-c-dialog__window {
    width: 100%;
    max-width: 100%;
    margin: 0;

    height: 100%;
    display: flex;
    flex-direction: column;

    .ds-c-dialog__header {
      width: 100%;
      flex: 0;
    }

    .ds-c-dialog__body {
      width: 100%;
      height: 100%;

      > div[id^="dialog"][id$="__content"] {
        display: flex;
        flex-direction: column;
        height: 100%;

        .dkan-datatable-fullscreen-mode {
          height: 100%;
          width: 100%;
          display: flex;
          flex-direction: column;
          overflow: hidden;

          > div {
            flex: 0;
            width: 100%;
            min-height: auto;
            margin: 8px 0 !important;
          }

          .dc-c-datatable-wrapper {
            height: 100%;
            width: 100%;
            flex: 1;
          }

          ~ div {
            flex: 0;
            width: 100%;
          }
        }
      }
    }

    form {
      max-width: 1024px;
    }
  }
}

@media screen and (max-width: 64rem) {
  .dkan-fullscreen-data-table-wrapper {
    .fa-compress:before,
    .fa-expand:before {
      font-size: 1.4em !important;
    }
  }
}
