.dc-c-datatable {
  width: 100%;
  border-spacing: 0px;
  thead > .dc-c-sticky-header {
    position: sticky;
    top: 0;
    background-color: white;
  }
  th {
    position: relative;
    text-align: left;
  }
  thead th div {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

.dc-c-datatable-wrapper {
  overflow: auto;
  display: grid;
}

.dc-thead--fixed-size th {
  border-left: 2px solid var(--color-border);
}

.dc-thead--fixed-size th:first-child {
  border-left: none;
}

.dc-thead--resizeable {
  .dc-c-resize-handle {
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute !important;
    background-color: #{var(--color-gray-light)};
    width: 10px;
    cursor: col-resize;
    min-width: 10px;
    display: block;
    margin-left: -10px;
    padding: 0;
    border: none;
    z-index: 1;
    &.isResizing,
    &:hover {
      background-color: #{var(--color-primary)};
    }
  }
}

thead.dc-thead--truncated {
  th > div {
    align-items: stretch; 

    > div {
      overflow: hidden;
      flex: 1 1 auto;
      position: relative;
  
      > span {
        white-space: nowrap;
        text-overflow: ellipsis;
        display: inline-block;
        overflow: hidden;
        position: absolute;
        left: 0;
        width: 100%;
  
        .ds-c-tooltip__container {
          white-space: wrap;
          font-weight: normal;
        }
      }
    }
  }
  th p {
    white-space: normal;
  }
}

div.dc-c-datadictionary-table thead.dc-thead--truncated th > div > div {
  overflow: visible;
  > span {
    overflow: visible;
  }
}

.dc-c-datatable--even-row td {
  background-color: #{var(--table__background-color--striped)};
}

.dc-c-datatable--highlight-row td {
  background-color: #{var(--color-info-lighter)}
}

.dc-c-sort--default,
.dc-c-sort--asc,
.dc-c-sort--desc {
  padding-left: 8px;
  padding-right: 16px;
  border: none;
  background: none;
  &::after {
    font-family: 'Font Awesome 6 Pro';
    display: inline;
    padding-left: 8px;
    line-height: 18px;
    height: 18px;
    width: 18px;
  }
}

.dc-c-sort--default::after {
  content: '\f0dc';
}
.dc-c-sort--asc::after {
  content: '\f0de';
}
.dc-c-sort--desc::after {
  content: '\f0dd';
}
